body {
  background-color: #fff;
}

.switch {
  margin-bottom: 80px;
}

.switch__title {
  margin-bottom: 50px;
}

.switch__text,
.switch__link {
  font-size: 22px;
}

.switch__button {
  border-radius: 10px;
  border: 1px solid #ededed;
  box-shadow: 0 5 20px #ccc;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.switch__button:hover {
  background-color: #626262;
  color: #fff;
}

.dark__theme {
  background-color: #000;
  color: #fff;
}